apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: data-ingestion-role
  namespace: data-ingestion
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
